---
# Activity: p103a03.sas
---

In [ ]:
# Standard imports.
import saspy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import HTML
from datetime import datetime
from numpy import nan as NA
import math

In [ ]:
# Get a SAS session object
sas = saspy.SASsession(cfgname="oda")

In [ ]:
# Assign the PG1 library
sas.saslib('pg1', engine='base', path='~/PG1/Data/data/data')

---
# SAS Code
```
%let BasinCode=NA;

proc means data=pg1.storm_summary;
	where Basin="&BasinCode";
	var MaxWindMPH MinPressure;
run;

proc freq data=pg1.storm_summary;
	where Basin='&BasinCode';
	tables Type;
run;

```
---

In [ ]:
# Creat a new DataFrame object by pulling PG1.STORM_SUMMARY data from SAS.
storm_summary_df = sas.sasdata('STORM_SUMMARY', 'PG1').to_df()

In [6]:
# Disconnect from SAS server
sas.disconnect()

'Succesfully disconnected. Be sure to have a valid network connection before submitting anything else.'

In [8]:
# Print out the first 5 records
storm_summary_df.tail()

,Season,Name,Basin,Type,MaxWindMPH,MinPressure,StartDate,EndDate,Hem_NS,Hem_EW,Lat,Lon
3113,2016,VARDAH,NI,NR,81.0,975.0,2016-12-06,2016-12-17,N,E,13.3,84.7
3114,2016,VICTOR,SP,NR,92.0,958.0,2016-01-14,2016-01-22,S,W,-20.2,-166.3
3115,2016,WINSTON,SP,NR,173.0,884.0,2016-02-10,2016-02-26,S,E,-17.0,179.9
3116,2016,YALO,SP,NR,46.0,100.0,2016-02-24,2016-02-26,S,W,-20.0,-154.9
3117,2016,ZENA,SP,NR,81.0,975.0,2016-04-05,2016-04-07,S,W,-18.8,175.3

In [9]:
# Drop the columns we don't want
# Apply a where filter to just get BasinCode basins
# Describe and Transpose
BasinCode = 'SP'
storm_summary_df.drop(columns=['Season', 'Lat', 'Lon']).where(storm_summary_df['Basin'] == BasinCode).describe().T

             count        mean         std     min    25%    50%    75%    max
MaxWindMPH   354.0   77.593220   28.083719    35.0   58.0   69.0   92.0  173.0
MinPressure  359.0  903.487465  818.808652 -9999.0  954.0  975.0  986.0  998.0

In [10]:
storm_summary_df.drop(columns=['Season', 'Lat', 'Lon']).where(storm_summary_df['Basin'] == BasinCode).value_counts('Type')

Type
NR    359
dtype: int64